/*
----------------------CSS Stylesheet Code-----------------------

The code below will perform the following actions on information
within HTML tag element <body>: 

1) Will center text
2) Set text/font to Helvetica

---------------------------------------------------------------*/

body {
    text-align: center;
    font-family: Helvetica;    
}

/*
----------------------CSS Stylesheet Code-----------------------

The code below will perform the following actions on information
within the CSS element [ class="internal-link" ]: 

1) Hyperlink color will be white
2) Text/font will be resize to 18 pixels
3) Text/font will be bold

---------------------------------------------------------------*/

.internal-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/*
----------------------CSS Stylesheet Code-----------------------

The code below will perform the following actions on information
within the CSS element [ class="title" ]: 

1) Import background image "the-flatiron-building.png"
2) Background size set to resize and "cover" space
2) Text/font will be resize to 70 pixels
3) Text/font will be bold
4) Text/font will be white

---------------------------------------------------------------*/

.title {
    background-image: url("../resources/image/the-flatiron-building.png");
    background-size: cover;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

/*
----------------------CSS Stylesheet Code--------------------

The code below will perform the following actions on text 
within the HTML tag element <p> located inside CSS element 
[ class="process" ]:

1) Text/font within <p> element will be resize to 32 pixels
2) Text/font within <p> element will be bold

------------------------------------------------------------*/

.process p {
    font-size: 32px;
    font-weight: bold;
}

/*
----------------------CSS Stylesheet Code--------------------

The code below will perform the following actions on text 
within the HTML tag element <p> located inside CSS element 
[ class="identify" ]:

1) Text/font will be resize to 23 pixels
2) Text/font will be bold

------------------------------------------------------------*/

.fontSize-23 p {
    font-size: 23px;
    font-weight: bold;
}

/*
----------------------CSS Stylesheet Code--------------------

The code below will perform the following actions on  
information contained within CSS element [ class="design" ]:

1) Import background image "the-flatiron-building.png"
2) background size set to resize and "cover" space
3) Set text/font size to 23 pixels
4) Set text/font color to "white"

------------------------------------------------------------*/

.design {
    background-image: url("../resources/image/the-flatiron-building.png");
    background-size: cover;
    font-size: 23px;
    color: white;
}

/*
----------------------CSS Stylesheet Code--------------------

The code below will perform the following actions on text 
on webpage within the HTML tag element <p>:

1) will be resize to 14 pixels

------------------------------------------------------------*/

p {
  font-size: 14px;
}

/*
----------------------CSS Stylesheet Code--------------------

The code below will perform the following actions on text 
within the located inside CSS element: [ class="footer" ]:

1) All information will be placed to the left
2) All text/font will be white
3) The background will be set to "dimgray"

------------------------------------------------------------*/

.footer {
    text-align: left;
    color: white;
    background-color: dimgray
}

/*
----------------------CSS Stylesheet Code--------------------

The code below will perform the following actions on text 
within the HTML tag element <b> located inside CSS element
[ class="footer" ]:

1) Text/font within <b> element will be 11 pixels

------------------------------------------------------------*/

.footer b {
    font-size: 11px;
  }
